.header-img {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
}

.nav-link {
    display: inline-block;
    padding: 20px 40px 20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.history {
    position:absolute;
    right: 50px;
}

.perfect {
    position: absolute;
    right: 210px; 
}

.recepies {
    position: absolute;
    right: 500px;
}
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;;
    width: 100%;
    display: flex;
    background-image: url(../img/pasta-background.jpg);
    height: 50px;
    border: dotted rgb(245, 206, 15);
    border-width: 0 0 10px;

}
