
.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 40px;
}
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: dotted rgb(245, 206, 15);
    border-width: 0 0 10px;
    height: 50px;
    width: 100%;
    margin:auto;
    justify-content: space-around;
    align-items: center;
    background-color: #FEF9A7;
}
    
.nav-link {
    /*display: inline-block;
    padding: 20px 40px 20px 40px;
    font-size: 25px; */
   

    

/*    .history {
    position:absolute;
    right: 50px;
}

.perfect {
    position: absolute;
    right: 210px; 
}

.recepies {
    position: absolute;
    right: 500px; */
}

.header__intro {
    text-align: center;
}