@import url(common.css);
@import url(header.css);
@import url(main.css);

@media (min-width: 500px) {
    #header-img {
      width: 30%;
      height: auto;
    }
}

.main__recepies {
  display: flex;
}